* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 20px 30px;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 40px;
}
.header-left {
    display: flex;
    gap: 60px;
}

.nav-link {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.button-login {
    text-decoration: none;
    color: hsl(0, 0%, 41%);  
}

.button-register {
    border-radius: 15px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);  
    padding: 10px 20px;
}

.header-button-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.button-register a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);  
}

#burger-menu {
    display: none;
}

@media (max-width: 786px) {
    .nav {
        display: none;
    }
    .header-button-wrapper {
        display: none;
    }
    #burger-menu {
        display: block;
    }
}